.App {
  width: 100%;
  background: #12181c;
  height: 100vh;
  color: white;
}

.FormContainer {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
}

.Form {
  width: 600px;
  
  margin: auto;
  margin-top: 13%;
  color: white;
  text-align: center;
}

.MuiAutocomplete-inputFocused {
  .Mui-focused {
      color: white;
  }
}

.TextContainer{
  margin-top: auto;
  color: white;
}

.Box {
  background: #2b2e36;
  box-shadow: rgba(0, 0, 0, 0.38) 0px 4px 8px 0px;
  border-radius: 5px;
  padding: 20px;
}