.App {
  width: 100%;
  background: #12181c;
  height: 100vh;
}

.FormContainer {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Form {
  width: 600px;
  background: #2b2e36;
  box-shadow: rgba(0, 0, 0, 0.38) 0px 4px 8px 0px;
  padding: 20px;
  margin: auto;
  margin-top: 15%;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.MuiAutocomplete-inputFocused {
  .Mui-focused {
      color: white;
  }
}
